body {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 32px;
   color: #000500;
}

.card {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("temtem.jpg");
    background-size: cover;
    max-width: 250vh;
}

.div {
    display: flex;
    gap: 20px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #49a078;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #1f2421;
}

.button:hover {
    background-color: #216869;
}

.button:active {
    background-color: #216869;
    box-shadow: 0 5px #1f2421;
    transform: translateY(4px);
}


.imgPlat {
    width: 100px;
    position: absolute;
    top: 25%;
    left: 30%;
}

.imgBrocoo {
    width: 150px;
    position: absolute;
    top: 25%;
    left: 65%;
}

.imgGanki {
    width: 150px;
    position: absolute;
    top: 65%;
    left: 45%;
}

.imgMimit {
    width: 150px;
    position: absolute;
    top: 18%;
    left: 46%;
}

